body {
  font-family: Arial, sans-serif;
  margin: 0;
  margin-top: 0px;
  padding: 0;
  line-height: 1.6;
}

main {
  margin: 0 auto;
}

header {
  background-image: url("images/blue_orange_clouds.png");
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
  background-color: #333;
  color: #fff;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 20px;
}

.orange-text {
  color: orange;
}

h1 {
  font-size: 2.9rem;
  margin-bottom: 8px;
  color: #6d9cee;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 5px;
}

.intro-container {
  display: grid; /* Use display grid instead of flexbox */
  grid-template-columns: 30vw 30vw; /* Adjust the width as needed */
  gap: 20px;  
  justify-content: center;
  margin: 0 auto; 
}

.image-container {
  flex: 1;
}

.intro-text-container {
  flex: 1;
  width: 30vw;
  background-color: rgba(255, 255, 255, 0.6); 
  padding-left: 10px; 
  padding-right: 10px;
  padding-top: 10px;
  border-radius: 10%;
  color:rgb(1, 53, 93);
  font-size: 1.20vw;
}

/* Existing styles for other sections... */

section{
  position: relative; /* Make the container position-relative */
}
 
.background-image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./images/good_np.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: -1; /* Send the background image container to the back */
}

.intern-bg-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./images/intern_bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: -1;/* Send the background image container to the back */
}

.research-bg-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./images/research_bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff9c4;
  z-index:-1;
}

.hackathon-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./images/hackathon.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: -1;/* Send the background image container to the back */
}

.content-container {
  max-width: 65%; /* Set the maximum width for the text content */
  margin: 0 auto;
  padding: 10px; /* Add some padding to separate the content from the background edges */ /* Add a semi-transparent background to the content container for better readability */
  color:rgb(1, 53, 93);
  font-size: 1.20vw;
}
.text-container {
  flex: 1;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  flex-basis: calc(33.33% - 20px);
  margin: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
}

.expanded-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0; 
  width:100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  overflow: auto;
  padding: 20px;
  box-sizing: border-box;
}

.expanded-card {
  max-width: 80%;
  height:auto;
  padding:10px;
  margin: 0 auto;
  background-color: #f2f2f2;
  border-radius: 20px;
  overflow: auto; 
  color: #333;
  justify-content:center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.expanded-card-content {
  flex: 1;
  overflow: auto; /* Enable scrolling when content exceeds the fixed height */
}

.expanded-card img {
  width: 100%;
  height: auto;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.card h3 {
  margin-top: 7px;
}

.hidden-content {
  display: none;
  max-width: 80%;
}

.teaching {
  margin-bottom: 20px;
  background-color: #cce1f5;
  padding: 10px;
  border-radius: 5px;
}

.coursework {
  margin-bottom: 20px;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
}

footer {
  background-color: #ffcc80;
  font-size:2%;
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* Add media query to limit font size on smaller screens if needed */
@media screen and (max-width: 768px) {
  .intro-text-container {
    font-size: 3vw;
  }
}
