/* CSS styles for the personal website */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  section {
    margin-bottom: 30px;
  }
  
  h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  
  .intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  img {
    width: 40%; /* Adjust the width as needed */
    border-radius: 10%;
    margin-bottom: 10px;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .card {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box; /* Include padding and border in the box size calculation */
  }
  
  
  .teaching-experience {
    margin-bottom: 20px;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
  }
  
  footer {
    background-color: #f4f4f4;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  